@font-face{
    src: url(/QueenBackingTracks/fonts/Cinzel-Regular.ttf);
    font-family: queenfont;
}
.white-box {
    background-color: white;
    color: black;
    margin: -10px;
}

.hammertofall{
    color: black;
    text-align: center;
    font-family: queenfont;
    font-size: 30px;
}

.image1 {
    position: absolute;
    left: 560px;
    top: 150px;
    z-index: 1
}

.image2 {
    position: absolute;
    left: 610px;
    top: 460px;
    z-index: 2
}

audio{
    position: absolute;
    margin-left: -300px;
    margin-right: auto;
    margin-top: 350px;
}
