@font-face{
    src: url(/QueenBackingTracks/fonts/Cinzel-Regular.ttf);
    font-family: queenfont;
}

.logo{
    -webkit-filter: invert(1);
   filter: invert(1);
}

.white-box {
    background-color: black;
    color: black;
    margin: -10px;
}

body{background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
}

.album1{
    text-align: center;
    font-family: queenfont;
    font-size: 45px;
    color: white;
}

.center-img, .center-txt {
    text-align: center;
  display: inline-block;
  vertical-align: middle;
    font-family: queenfont;
    font-size: 45px;
    color: white;
}


.hammertofall{
    color: black;
    text-align: center;
    font-family: queenfont;
    font-size: 30px;
}

.hammertofalllink{
    color: white;
    text-decoration: none; 
}

.hammertofalllink:hover{
    color: gray;
}

.albumlink{
    color: white;
    text-decoration: none; 
}
.albumlink:hover{
    color: gray;
}
